* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img1-div {
  display: flex;
  justify-content: center;
}
.img1 {
  width: 85%;
  cursor: pointer;
  border-radius: 25px;
}

.container1 {
  width: 85vw;
  height: 70vmin;
  display: flex;
  gap: 5px;
  margin-left: 100px;
  margin-top: 100px;
}

.container1 div {
  width: 25%;
  height: 100%;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.7s;
  font-size: medium;
}

.container1 div:hover {
  flex: 1;
}

.textimg {
  font-size: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.imgslider {
  width: 200px;
}

.Set1 {
  width: 48%;
  box-sizing: border-box;
  cursor: pointer;
}

.Set2 {
  width: 48%;
  float: right;
  box-sizing: border-box;
  cursor: pointer;
}

.morestyle {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
}

.morestyle {
  text-decoration: underline;     
  font-family: cursive;
  padding: 30px 30px 30px 30px;
  background-color: #cfd918f0;
  size-adjust: 40px;
}

.txtm {
  color: #000000;
  font-size: 20px;
}

.jstyle {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 30px;
}

.newstyleimg {
  border-radius: 20px;
  cursor: pointer;
}
